@import url('https://fonts.googleapis.com/css?family=Poppins:900i'); 

.answerButton{
    color: white;
    background-color: #E62EA6;
    font-size: 20px;
    margin-bottom: 10px;
    width: 60%;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 10px groove #6E1299;
    font-weight: bold;
    font-family: 'Poppins',sans-serif;
}
.answerButton:hover{
    background-color: #E6D800;
    color: black;
    font-weight: bold;
}
.questionBox{
    background-color: #01630E;
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px 20px 20px 20px;
    font-size: 20px;
    font-weight: bold;
    border: 10px groove white;
    color: white;
    font-family: 'Poppins',sans-serif;
}
.questionHeading{
    font-size: 40px;
    font-family: 'Poppins',sans-serif;
    color: white;
}
.alertRight{
    background-color: greenyellow;
    width: 50%;
    margin-left: 25%;
    padding: 20px 0px 20px 0px;
    font-family: 'Poppins',sans-serif;
}
.alertWrong{
    background-color: red;
    width: 50%;
    margin-left: 25%;
    padding: 20px 0px 20px 0px;
    font-family: 'Poppins',sans-serif;
}
.header1{
    grid-area: header1;
    color: black;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Poppins',sans-serif;
}
.header2{
    grid-area: header2;
    color: black;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Poppins',sans-serif;
}
.header3{
    grid-area: header3;
    color: black;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Poppins',sans-serif;
}
.content1{
    grid-area: content1;
    color: black;
    font-size: 17px;
    font-family: 'Poppins',sans-serif;
}
.content2{
    grid-area: content2;
    color: black;
    font-size: 17px;
    font-family: 'Poppins',sans-serif;
}
.content3{
    grid-area: content3;
    color: black;
    font-size: 17px;
    font-family: 'Poppins',sans-serif;
}
.container{
    color: white;
    display: grid;
    grid-template-columns: repeat(3,15%);
    grid-template-rows: auto;
    grid-template-areas: 
    "header1 header2 header3"
    "content1 content2 content3"
    ;
    margin-left: 20%;
    margin-right: 20%;
    background-color: #E6D800;
    border: 10px groove white;
    place-items: center;
    place-content: center;
    column-gap: 80px;
}
.wrapper{
    display: grid;
    grid-template-columns: 30% 30%;
    grid-template-rows: 50% 50%;
    column-gap: 30px;
    justify-content: center;
    align-items: center;
}