.headingRules{
    color: white;
    font-size: 50px;
}
h3{
    color: white;
    font-size: 40px;
}
.numberPink{
    background-color: #E62EA6;
    color: white;
    width: 20%;
    margin-left: 27%;
    padding: 80px 20px 80px 20px;
    border-radius: 50%;
    font-size: 20px;
    margin-top: 50px;
}
.numberPurple{
    background-color: #6E1299;
    color: white;
    width: 20%;
    margin-left: 50%;
    padding: 80px 20px 80px 20px;
    border-radius: 50%;
    font-size: 20px;
}
.numberYellow{
    background-color: #E6D800;
    color: black;
    width: 20%;
    margin-left: 27%;
    padding: 80px 20px 80px 20px;
    border-radius: 50%;
    font-size: 20px;
}
.numberPink2{
    background-color: #E62EA6;
    color: white;
    width: 20%;
    margin-left: 50%;
    padding: 80px 40px 80px 40px;
    border-radius: 50%;
   
    font-size: 20px;
}
.numberPurple2{
    background-color: #6E1299;
    color: white;
    width: 20%;
    margin-left: 27%;
    padding: 80px 20px 80px 20px;
    border-radius: 50%;
    font-size: 20px;
}
.numberYellow2{
    background-color: #E6D800;
    color: black;
    width: 20%;
    margin-left: 50%;
    padding: 80px 40px 80px 40px;
    border-radius: 50%;
    font-size: 20px;
}
.box{
    border: #01630E 20px double;
    width: 70%;
    margin-left: 10%;
}
