@import url('https://fonts.googleapis.com/css?family=Poppins:900i');

.headingRules{
    color: white;
    font-size: 50px;
    font-family: 'Poppins',sans-serif;
}
h3{
    color: white;
    font-size: 40px;
    font-family: 'Poppins',sans-serif;
}
.numberPink{
    background-color: #E62EA6;
    color: white;
    width: 20%;
    margin-left: 27%;
    padding: 80px 20px 80px 20px;
    font-size: 20px;
    margin-top: 50px;
    font-family: 'Poppins',sans-serif;
}
.numberPurple{
    background-color: #6E1299;
    color: white;
    width: 20%;
    margin-left: 50%;
    margin-top: -7%;
    padding: 80px 20px 80px 20px;
    font-size: 20px;
    font-family: 'Poppins',sans-serif;
}
.numberYellow{
    background-color: #E6D800;
    color: black;
    width: 20%;
    margin-left: 27%;
    margin-top: -7%;
    padding: 80px 20px 80px 20px;
    font-size: 20px;
    font-family: 'Poppins',sans-serif;
}
.numberPink2{
    background-color: #E62EA6;
    color: white;
    width: 20%;
    margin-left: 50%;
    margin-top: -7%;
    padding: 80px 40px 80px 40px;
    font-family: 'Poppins',sans-serif;
    font-size: 20px;
}
.numberPurple2{
    background-color: #6E1299;
    color: white;
    width: 20%;
    margin-left: 27%;
    margin-top: -7%;
    padding: 80px 20px 80px 20px;
    font-size: 20px;
    font-family: 'Poppins',sans-serif;
}
.numberYellow2{
    background-color: #E6D800;
    color: black;
    width: 20%;
    margin-left: 50%;
    margin-top: -7%;
    padding: 80px 40px 80px 40px;
    font-size: 20px;
    font-family: 'Poppins',sans-serif;
}
@media screen and (min-width:1300px){
    .numberPink{
        margin-left: 27%;
    }
    .numberPurple{
        margin-left: 47%;
        margin-top: -3%;
    }
    .numberYellow{
        margin-left: 27%;
        margin-top: -3%;
    }
    .numberPink2{
        margin-left: 47%;
        margin-top: -3%;
    }
    .numberPurple2{
        margin-left: 27%;
        margin-top: -3%;
    }
    .numberYellow2{
        margin-left: 47%;
        margin-top: -3%;
    }
}